*{
     padding: 0px;
    margin:0px;
}
.content{
    width: 1200px;
    margin:  auto;   
}
.logo {
    width: 200px;
   
}
.logo img{
    width: 100%;
}
     
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}
ul li{
     
    display: inline-block;
    margin-top: 20px;
     
    font-size: 20px;
}
a{
    text-decoration: none;
    margin: 20px ;
    color: black;
    width: auto;
}
a:hover{
    color: hsl(286, 97%, 48%);
}
.hero-rext{
    width: 50%;
    margin-top:180px;
}
.hero-rext button{
    margin-top: 20px;
}
h1{
    font-size:   60px;
}
.hero-hero{
    width:  40%;
}
.clint{
    margin-top: 20px;
}
span{
    color: rgb(15, 15, 179);
}
.paimart-bt{
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: rgb(7, 7, 212);
    border-radius: 12px;
    border: none;
}
.sequndary-bt{
    color: black;
    font-size: 24px;
    font-weight: 700;
    border-radius: 12px;
    padding: 15px 30px;
    margin-left: 4px;
}
.paimart-bt:hover{
    color: rgba(137, 43, 226, 0.521);
}
.sequndary-bt:hover{
    color: rgba(255, 235, 205, 0.185);
}

